<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table_number %>
    <%= form.text_field :table_number %>
  </div>

  <div class="field">
    <%= form.label :Course_id %>
    <%= form.text_field :Course_id %>
  </div>

  <div class="field">
    <%= form.label :client_count %>
    <%= form.number_field :client_count %>
  </div>

  <div class="field">
    <%= form.label :check_in %>
    <%= form.datetime_select :check_in %>
  </div>

  <div class="field">
    <%= form.label :check_out %>
    <%= form.datetime_select :check_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
