<p id="notice"><%= notice %></p>

<h1>Fooeds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Category</th>
      <th>Price</th>
      <th>Course</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fooeds.each do |fooed| %>
      <tr>
        <td><%= fooed.name %></td>
        <td><%= fooed.content %></td>
        <td><%= fooed.category_id %></td>
        <td><%= fooed.price %></td>
        <td><%= fooed.course_id %></td>
        <td><%= fooed.image %></td>
        <td><%= link_to 'Show', fooed %></td>
        <td><%= link_to 'Edit', edit_fooed_path(fooed) %></td>
        <td><%= link_to 'Destroy', fooed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fooed', new_fooed_path %>
